/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Body */
:root {
	--primary-color: #292a2e;
	--secondary-color: #202024;
	--grey-text: #c9ccd6;
	--error-color: #fc3232;
	--purple: #545ee3;
	--light-purple: #5486e3;
}

* {
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

html {
	scroll-behavior: smooth;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	height: 100%;
	flex-direction: column;
	background-color: var(--primary-color);
	line-height: 1.6;
	color: #ffffff;
	max-width: 100%;
	overflow-x: hidden;
}

/* Buttons */
.btn {
	border: none;
	margin: 10px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 5px;
	display: inline-block;
	background-color: var(--secondary-color);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.5s;
}

.btn-blurple {
	background-color: #7289da;
}

.btn-gray {
        border: none;
	margin: 10px;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 5px;
	display: inline-block;
	background-color: #292A2E;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	transition: all 0.5s;
}

.btn i {
	top: 3px;
	font-size: 125%;
	margin: 0 4px 0 0;
	position: relative;
}






section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

 body {
     font-family: 'Muli', sans-serif;
     height: 100% !important;
     background-color: #fff !important;
     padding: 0 !important;
     margin: 0 !important
 }

 .container-fluid {
     margin-top: 101px;
     color: #000 !important
 }

 .card {
     color: #757575 !important;
     background-color: #fff !important;
     align-items: center !important;
     background: url('https://i.imgur.com/9djv5sH.jpg');
     background-size: contain;
     background-repeat: no-repeat;




/* Nav Bar */
.navbar {
	color: #ffffff;
	height: 70px;
	font-weight: 400;
	background-color: var(--secondary-color);
	border-bottom: var(--purple) 5px solid;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: var(--grey-text);
	padding: 10px;
	margin: 0;
	padding: 0 10px;
}

.navbar a:hover {
	color: #ffffff;
}

.navbar .currentPage,
.navbar .currentPage:hover {
	color: var(--light-purple);
}

.navbar .flex {
	justify-content: space-between;
}

.navbar .logo {
	margin: 0 10px;
}

.navbar .logo img {
	height: 75%;
	margin: auto 5px;
}

.navbar .logo p {
	font-weight: 400;
	font-size: 1.5rem;
	padding: 0 2px;
	color: #ffffff;
}

/* Footer */
.footer {
	width: 100%;
	border-top: var(--purple) 5px solid;
	padding: 30px;
	height: 200px;
	background-color: var(--secondary-color);
}

.footer h4 {
	color: var(--light-purple);
	font-weight: 400;
	font-size: 1.5rem;
}

.footer .flex {
	justify-content: flex-end;
}

.footer .footernav {
	margin: 0 25px;
}

.footernav a:hover {
	color: #ffffff;
}

/* Animations */
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	font-size: 25px;
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: -10px;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

/* Responsive */
@media (max-width: 768px) {
	.navbar {
		height: auto;
		font-size: 1.05rem;
	}

	.navbar ul {
		margin: 0 0 15px 0;
	}

	.navbar .flex {
		flex-direction: column;
	}

	.navbar .logo {
		margin: 10px 0 5px 0;
		flex-direction: row;
	}

	.navbar .logo p {
		font-size: 1.5rem;
	}

	.navbar .logo img {
		height: 50px;
	}
}

@media (max-width: 450px) {
	.navbar {
		justify-content: center;
		width: 100%;
		height: auto;
		font-size: 1rem;
	}

	.navbar .logo:active ul {
		display: block;
	}

	.navbar ul {
		margin: 0 0 15px 0;
	}

	.navbar .flex {
		flex-direction: column;
	}

	.navbar ul {
		flex-direction: column;
		align-items: center;
	}

	.navbar li {
		margin: 5px 0;
		font-size: 1rem;
	}

	.navbar .logo {
		margin: 10px 0 5px 0;
		flex-direction: row;
	}

	.navbar .logo p {
		font-size: 1.5rem;
	}

	.navbar .logo img {
		height: 50px;
	}

	.footer {
		height: auto;
	}

	.footer .branding p,
	.footer .branding h4 {
		text-align: center;
	}

	.footer .grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.footer .flex {
		width: 100%;
		flex-direction: column;
	}

	.footer .flex ul {
		text-align: center;
	}

	.footer li {
		margin: 5px 0;
	}
}
