Example
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #202024;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #7289DA;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #7289DA;
  color: #7289DA;
}



a {
	color: var(--purple);
}

.footernav a {
    color: var(--grey-text);
}

.footernav a:hover {
    color: #ffffff;
}

a:hover {
	color: var(--light-purple);
}

h2,
h3 {
	text-align: center;
}

/* Quick Start */
.quickstart ol {
	margin: 5px 25px;
	padding: 5px;
	color: #ffffff;
}

.quickstart ol li {
	list-style-type: decimal;
}

/* About */
.about p {
	text-indent: 25px;
}

/* Changelog */
.changelog {
	text-align: center;
}

.changelog ul li {
	text-align: left;
	list-style-type: disc;
}

/* Developers */
.devs {
	text-align: center;
}

.devs .card {
	background-color: var(--primary-color);
}

.devs i {
	margin: 5px;
}

/* Responsive */
@media (max-width: 720px) {
	.quickstart .flex {
		flex-direction: column;
	}
}
