Example
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background-color: #202024;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #7289DA;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #7289DA;
  color: white;
}


/* Showcase */
.showcase {
	height: 700px;
	position: relative;
}

.showcase h1 {
	font-size: 40px;
	position: center;
	text-align: center;
}

.showcase p {
	margin: 20px 0;
	text-align: center;
}

.showcase .flex {
	overflow: visible;
	justify-content: center;
}

/* Panels */
.features {
	height: auto 500px;
	margin: 50px 0;
}

.features h3 {
	text-align: center;
	font-size: 25px;
	font-weight: 400;
}

.features p {
	text-align: center;
}

.features img {
	border-radius: 5px;
	justify-self: center;
	width: 75%;
}

.mobile {
	display: none;
}

/* Tablet Responsive */
@media (max-width: 768px) {
	.features img {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.showcase {
		height: 450px;
	}

	.showcase .buttons {
		flex-direction: column;
	}

	.showcase h1 {
		font-size: 25px;
	}

	.showcase p {
		font-size: 14px;
	}

	.showcase a {
		width: 100%;
		text-align: center;
	}

	.features .grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}
}
